/data/raw/My*Anime*List*Scrapping
/data/raw/tmp_anime_mal
/data/raw/tmp_manga_mal
/data/data-history
/notebooks/api_key.txt
/.dvc
/.github
/.vscode
/src/client_id.txt
/logs
/src/__pycache__
/.idea
tests/logs/
Anime-Recommender.code-workspace
/data/raw/kaggle_anime_dataset.json
/data/raw/MAL_Anime_Dataset_Nov_24.csv
/data/raw/TMDB_all_movies.csv
/data/raw/TMDB_movie_dataset_v11.csv
/data/raw/TMDB_Movies_data.json
/data/raw/TMDB_TV_data.json
/volumes/